---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvm-*,-readability-named-parameter,-cert-err58-cpp,-cppcoreguidelines-macro-usage,-hicpp-use-equals-delete,-modernize-use-equals-delete,-clang-analyzer-cplusplus.NewDeleteLeaks'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle: none
